header {
    width: 600px;
    height: 14px;
    margin-top: 27px;
    margin-bottom: 59px;
}
main {
    width: 600px; 
}
.header_title {
    letter-spacing: -0.03em;
    font-size: 12px;
    line-height: 14px;
}
.header_icons {
    width: 90px;
    height: 20px;
}
.social{
    width: 20px;
    height: 20px;
}
.social_down{
    
    width: 20px;
    height: 20px;
}
.cover {
    width: 600px;
    height: 324px;
}
.cover_photo{
    width: 298px;
    height: 324px;
}
.cover_img {
    width: 267px;
    height: 297px;
}
.about{
    width: 600px;
    height: 500px;
    margin: 150px 0;
}

.about_col{
    width: 600px;
    height: 500px;
}
.cover_title{
    top: 105px;
    width: 340px;
    height: 114px;
    font-size: 52px;
    line-height: 110%;
    /* or 176px 598*/

}
.first_text {
    margin-top: 10px;
    width: 440px;
    height: 204px;
    font-size: 30px;
    line-height: 115%;
}
.about_row p {
    width: 108px;
    height: 18px;
    font-size: 15px;
    line-height: 18px;
}
.second_text{
    font-size: 15px;
    line-height: 140%;
    width: 290px;
    height: 84px;
    margin-left: 300px;
}

.about_img{
    width: 280px;
    height: 323px;
    left: 0px;
}

.process_title {
    font-size: 15px;
    line-height: 18px;
}
.process_steps {
    width: 300px;
}
.step{
    width: 300px;
    
}
.step_description{
    margin-top: -5px;
    margin-bottom: 15px;
    margin-left: 0;
    width: 253px;
    font-size: 12px;
    line-height: 140%;
}
.step img{
    width: 24px;
    height: 24px;
    
    
}


.step_title p{
    font-size: 20px;
    line-height: 140%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.step_number {
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.projects{
    margin: 150px 0;
}
.projects_title{
    width: 277px;
    height: 84px;
    font-size: 35px;
    line-height: 42px;
}
.project {
    width: 280px;
}
.project_buttons{
    width: 244px;
}
.project_button{
    width: 114.5px;
    height: 25px;
    font-size: 10px;
    line-height: 140%;
}
.project_title{
    width: 244px;
    margin-bottom: 10px;
}
.project_title p{
    font-size: 20px;
    line-height: 140%;
    width: 200px;
}
.project_info span{
    font-size: 12px;
    line-height: 140%;
}
.project_info{
    width: 244px;
}
.project_content{
    margin: 18px;
}
.project_image{
    margin: 20px 0;
}
.projects_cols{
    width: 580px;
}
.projects_col{
    height: 1658px;
}
.projects_column{
    height: 1506px;
}
.projects_behance{
    width: 160px;
    height: 23px;
    margin-top: 60px;
}
.projects_behance span{
    font-size: 16px;
    line-height: 140%;
    width: 130px;
    height: 22px;
}

/*steps*/


.step{
    width: 300px;
    height: 58px;
    transition: all .5s;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}
.step_content{
    width: 300px;
    padding: 15px 0;
    height: 28px;
    transition: all .5s;
}
.step_title{
    display: flex;
}
.step_visible{
    display: flex;
    width: 300px;
}
.step_button{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    width: 24px;
    height: 24px;
    
}
.step_title p{
    margin: 0;
    margin-right: 15px;
    font-family: 'Monument Extended';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-transform: uppercase;
    color: #FFFFFF;
}
.step_unvisible{
    text-transform: none;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 0px;
    width: 300px;
    font-family: 'Plain';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #C9C9C9;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    height: 0;
}
.step_size_1{
    height: 153px;
}
.step_text_size_1{
    height: 123px; 
}
.step_size_2{
    height: 204px;
    
}
.step_text_size_2{
    height: 174px;
}
.step_size_3{
    height: 204px;
}
.step_text_size_3{
    height: 174px;
}
.step_size_4{
    height: 153px;
}
.step_text_size_4{
    height: 123px;
}
.step_size_5{
    height: 102px;
}
.step_text_size_5{
    height: 72px;
}
.step_size_6{
    height: 119px;
}
.step_text_size_6{
    height: 89px;
}
.st{
    height: 100%;
}
/*!steps*/

.behance_arrow{
    margin: 2px 0;
    width: 20px;
    height: 20px;
}
.about_service_button{
    width: 158px;
    height: 20px;
    margin-top: 33px;
}
.about_service_link{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}
.about_service_button img{
    margin-top: 5px;
}
.service_description{
    margin-top: 50px;
    width: 300px;
    flex-direction: column;
    position: relative;
}
.service_title{
    width: 160px;
    font-size: 20px;
    line-height: 140%;
    position: absolute;
    top: 15px;
    margin: 0;
    
}
.service{
    height: 118px;
    width: 300px;
    position: relative;

}
.service_price{
    font-size: 12px;
    line-height: 140%;
    position: absolute;
    right: 0;
}
.services_title{
    font-size: 15px;
    line-height: 18px;
    margin: 0;

}
.services {
    width: 600px;
    height: 635px;
    position: relative;
}
.service_list{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0px;
    margin-bottom: 30px;
    width: 300px;
}
.hourly_payment{
    font-size: 12px;
    line-height: 140%;
    position: absolute;
    width: 300px;
    right: 0;
    bottom: 0px;
}
footer{
    margin-top: 150px;
    height: 500px;
}
.footer {
    width: 600px;
    padding-top: 70px;
    padding-bottom: 0px;
}
.footer_title {
    font-size: 35px;
    line-height: 42px;
    width: 278px;
    height: 126px;
}
.footer_cols{
    width: 600px;
}
.footer_col{
    width: 234px;
    margin-top: 10px;
    height: 83px;

}
.happy{
    font-size: 15px;
    line-height: 140%;
}
.mail{
    font-size: 16px;
    line-height: 21px;
}
.email_me{
    width: 120px;
    height: 120px;
    font-size: 12px;
    line-height: 16px;
    margin-top: 50px;
}
.footer_links{
    margin-top: 85px;
}
.footer_social{
    width: 232px;
}
.footer_copyright{
    width: 200px;
}
.footer_social span{
    font-size: 12px;
    line-height: 16px;
}
.footer_copyright span{
    font-size: 12px;
    line-height: 16px;
}