header {
    width: 1500px;
    height: 26px;
    margin-top: 65px;
    margin-bottom: 51px;
}
main {
    width: 1500px; 
}
.header_title {
    letter-spacing: -0.03em;
    font-size: 20px;
    line-height: 24px;
}
.header_icons {
    width: 132px;
    height: 26px;
}
.social{
    width: 24px;
    height: 24px;
}
.social_down{
    margin-top: 2px;
    width: 24px;
    height: 24px;
}
.cover {
    width: 1500px;
    height: 770px;
}
.cover_photo{
    width: 710px;
    height: 770px;
}
.cover_img {
    width: 619px;
    height: 690px;
}
.about{
    width: 1500px;
    height: 929px;
    margin: 220px 0;
}

.about_col{
    width: 1500px;
    height: 929px;
}
.cover_title{
    top: 197px;
    width: 1046px;
    height: 352px;
    font-size: 160px;
    line-height: 110%;
    /* or 176px 598*/

}
.first_text {
    width: 1150px;
    height: 400px;
    font-size: 70px;
    line-height: 115%;
}
.about_row p {
    width: 144px;
    height: 24px;
    font-size: 20px;
    line-height: 24px;
}
.second_text{
    font-size: 30px;
    line-height: 140%;
    width: 584px;
    height: 168px;
    margin-left: 750px;
}

.about_img{
    width: 530px;
    height: 610px;
    left: -50px;
}

.process_title {
    font-size: 20px;
    line-height: 24px;
}
.process_steps {
    width: 750px;
}



/*steps*/


.step{
    width: 750px;
    height: 102px;
    transition: all .5s;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}
.step_content{
    width: 750px;
    padding: 30px 0;
    height: 42px;
    transition: all .5s;
}
.step_title{
    display: flex;
}
.step_visible{
    display: flex;
    width: 750px;
}
.step_button{
    margin-left: auto;
}
.step_title p{
    margin: 0;
    margin-right: 40px;
    font-family: 'Monument Extended';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 140%;
    text-transform: uppercase;
    color: #FFFFFF;
}
.step_unvisible{
    text-transform: none;
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 94px;
    width: 530px;
    font-family: 'Plain';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #C9C9C9;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    height: 0;
}
.step_size_1{
    height: 205px;
}
.step_text_size_1{
    height: 145px; 
}
.step_size_2{
    height: 249px;
}
.step_text_size_2{
    height: 189px;
}
.step_size_3{
    height: 249px;
}
.step_text_size_3{
    height: 189px;
}
.step_size_4{
    height: 205px;
}
.step_text_size_4{
    height: 145px;
}
.step_size_5{
    height: 138px;
}
.step_text_size_5{
    height: 78px;
}
.step_size_6{
    height: 162px;
}
.step_text_size_6{
    height: 102px;
}
.st{
    height: 100%;
}
/*!steps*/


.margin0{
    margin: 0;
    transition: 0s;
}

.projects{
    margin: 220px 0;
}
.projects_title{
    width: 715px;
    height: 192px;
    font-size: 80px;
    line-height: 96px;
}
.project {
    width: 679px;
}
.project_buttons{
    width: 600px;
}
.project_button{
    width: 180px;
    height: 40px;
    font-size: 16px;
    line-height: 140%;
}
.project_title{
    width: 600px;
    margin-bottom: 20px;
}
.project_title p{
    font-size: 40px;
    line-height: 140%;
}
.project_info span{
    font-size: 16px;
    line-height: 140%;
}
.project_info{
    width: 600px;
}
.project_content{
    margin: 40px;
}
.project_image{
    margin: 40px 0;
}
.projects_cols{
    width: 1429px;
}
.projects_col{
    height: 3419px;
}
.projects_column{
    height: 3063px;
}
.projects_behance{
    width: 199px;
    height: 28px;
    margin-top: 101px;
}
.projects_behance span{
    font-size: 20px;
    line-height: 140%;
    width: 163px;
    height: 28px;
}
.behance_arrow{
    margin: 5px 0;
    width: 27px;
    height: 18px;
}
.about_service_button{
    width: 163px;
    height: 21px;
}
.about_service_link{
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}
.about_service_button img{
    margin-top:5px;
}
.service_description{
    margin: 40px 0;
    width: 750px;
}
.service_title{
    width: 750px;
    font-size: 30px;
    line-height: 140%;
}
.service{
    height: 104px;

}
.service_price{
    font-size: 16px;
    line-height: 140%;
}
.services_title{
    font-size: 20px;
    line-height: 24px;
}
.service_list{
    margin-top: 70px;
    margin-bottom: 30px;
}
.hourly_payment{
    font-size: 16px;
    line-height: 140%;
}
footer{
    margin-top: 220px;
    height: 600px;
}
.footer {
    width: 1500px;
    padding-top: 75px;
    padding-bottom: 32px;
}
.footer_title {
    font-size: 80px;
    line-height: 96px;
    width: 715px;
    height: 192px;
}
.footer_cols{
    width: 1442px;
}
.footer_col{
    width: 289px;
    margin-top: 13px;
    height: 157px;

}
.happy{
    font-size: 20px;
    line-height: 140%;
}
.mail{
    font-size: 20px;
    line-height: 26px;
}
.email_me{
    width: 170px;
    height: 170px;
    font-size: 16px;
    line-height: 21px;
    margin-top: 72px;
}
.email_me_move{
    width: 170px;
    height: 170px;
    font-size: 16px;
    line-height: 21px;
    margin-top: 72px;
}
.footer_links{
    margin-top: 39px;
}
.footer_social{
    width: 311px;
}
.footer_copyright{
    width: 275px;
}
.footer_social span{
    font-size: 14px;
    line-height: 19px;
}
.footer_copyright span{
    font-size: 14px;
    line-height: 19px;
}