@font-face {
    font-family: "Monument Extended"; 
    src: url("../fonts/MonumentExtended-Regular.otf") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
    } 
@font-face {
    font-family: "Plain"; 
    src: url("../fonts/Plain-Regular.otf") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
    } 

    

.cursor_alias{
    cursor: auto;
}
.modal_description_success{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.plus{
    transform: rotate(-90deg);
    transition-duration: 500ms;
}
.about_service_button:hover .arrow{
    transform: rotate(45deg);
    transition-duration: 200ms;
}

.project_title:hover .arrow{
    transform: rotate(45deg);
    transition-duration: 200ms;
}


.plus:hover{
    transform: rotate(45deg);
    /* transition-property: transform; */
    /* transition-duration: 500ms; */
}



    .element-animation {
    
    
    
    
        /* Скроем элемент в начальном состоянии */
        opacity: 0;
        
      }
      
    .element-animation.element-show {
        opacity: 1;
        transition: all 1.5s;
        transform: translateY(0%);
    }











    .fixed_overlay {
        position: fixed;
        overflow: auto;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 99999999;
    }
    
    .fixed_overlay_modal {
        text-align: center;
        white-space: nowrap;
    }
    
    .fixed_overlay_modal::after {
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
        content: '';
    }
    .modal_close_background{
        position: fixed;
        overflow: auto;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
    .modal{
        display: inline-block;
        vertical-align: middle;
        width: 675px;
        
        background: #252525;
        position: relative;
        /* z-index: 999999999; */
    }
    .modal_content{
        padding-bottom: 35px;
        padding-top: 35px;
        padding-left: 50px;
        width: 575px;
        
        text-align: left;
        white-space: normal;
    }
    .dib{
        display: inline-block;
    }
    .modal_title{
        width: 499px;
        font-family: 'Monument Extended';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 140%;
        /* or 42px */
        text-transform: none;
        margin: 0;
    
        color: #FFFFFF;
    }
    .modal_description{
        font-family: 'Plain';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #C9C9C9;
        text-transform: none;
    }
    .modal_close{
        position: absolute;
        left: 620px;
        top: 39px;
    }
    .modal_input_group{
        display: flex;
        justify-content: space-between;
    }
    .modal_input{
        color: white;
        background: #383838;
        border: none;
        font-family: 'Plain';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
    }
    .modal_mandatory{
        width: 259px;
        height: 60px;
        padding-left: 20px;
    }
    .modal_message{
        width: 535px;
        height: 144px;
        margin: 17px 0;
        padding: 20px;
        resize: none;
    }
    /* .dn{
        display: none;
    } */

    .modal_button{
        
        width: 575px;
        height: 78px;
        background: #000000;
        color: white;
        font-family: 'Plain';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;
        
    }







.margin0{
    margin: 0;
    transition: 0s;
}


body {
    background: #181818;
    color: white;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
*{
    cursor:default;
}
.cursor_pointer{
    cursor: pointer;
}
.dn{
    display: none;
    margin: 0;
}
p{
    font-family: "Monument Extended";
    text-transform: uppercase;
}
span {
    font-family: "Plain"; 
}
header{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
main{
    margin: auto; 
}
.header_title {
    margin: 0;
}
.header_icons {
    display: flex;
    justify-content: space-between;
}
.social {
    margin-top: 0;
}
.cover{
    position: relative;
}
.cover_photo {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.9;
}
.cover_img {
    /*transform: matrix(0.99, 0.14, -0.14, 0.99, 0, 0);*/
    margin: 0 auto;
}
.about{
    position: relative;
}
.cover_title{
    position: absolute;
    margin: 0;
    text-transform: uppercase;
}
.about_row{
    display: flex;
    justify-content: space-between;
}
.about_col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about_img {
    position: absolute;
    bottom:0;
    z-index: -1;
}
.process{
    display: flex;
    justify-content: space-between;
}
.process_title {
    margin: 0;
}

/*steps*/


.step{
    width: 750px;
    height: 102px;
    transition: all .5s;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}
.step_content{
    width: 750px;
    padding: 30px 0;
    height: 42px;
    transition: all .5s;
}
.step_title{
    display: flex;
}
.step_visible{
    display: flex;
    width: 750px;
}
.step_button{
    margin-left: auto;
    /* transition-property: all;
     transition: all 0.3s linear; */
}
.stbtn{
    transition-property: all;
    transition: all 0.3s linear;
}
/* .stbtnhvr{ */
    /* transform: rotate(90deg);
    transition: all 0.3s linear;
} */
.stbtnactv{
    transform: rotate(45deg);
    transition: 0.3s linear;
}
/* .step_button:hover{
    transform: rotate(90deg);
    transition: all 0.3s linear;
}
.step_button:active{
    transform: rotate(45deg);
    transition: all 0.3s linear;
} */
/* .step_button:hover::before{
    transform: rotate(90deg);
    transition: all 1s linear;
} */
.step_title p{
    margin: 0;
    margin-right: 40px;
    font-family: 'Monument Extended';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 140%;
    text-transform: uppercase;
    color: #FFFFFF;
}
.step_unvisible{
    text-transform: none;
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 94px;
    width: 530px;
    font-family: 'Plain';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #C9C9C9;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    height: 0;
}
.step_size_1{
    height: 205px;
}
.step_text_size_1{
    height: 145px; 
}
.step_size_2{
    height: 249px;
}
.step_text_size_2{
    height: 189px;
}
.step_size_3{
    height: 249px;
}
.step_text_size_3{
    height: 189px;
}
.step_size_4{
    height: 205px;
}
.step_text_size_4{
    height: 145px;
}
.step_size_5{
    height: 138px;
}
.step_text_size_5{
    height: 78px;
}
.step_size_6{
    height: 162px;
}
.step_text_size_6{
    height: 102px;
}
.st{
    height: 100%;
}
/*!steps*/


.modal_success{
    width: 180px;
    height: 180px;
    margin-left: 34%;
    margin-top: 30px;
    
  
  
}

.opaciuty0{
    max-height: 0;
    opacity: 0;
    transform: translate(0,-30%);
    /*transition: 0.5s;*/
    transition: all 5s ease-in;
    
}
.opacity1 {
    height: 100%;
    transition: opacity linear, height;
    transform: translate(0,0);
    /*transition: 0.5s;*/
    transition: all 5s ease-in;
    
    
    
}
.projects_title {
    margin: 0;
}
.project{
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
}
.project_buttons {
    display: flex;
    justify-content: space-between;
}
.project_button{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Plain';
    font-style: normal;
    font-weight: 400;
}
.project_title{
    display: flex;
    justify-content: space-between;
}
.project_title p{
    margin: 0;
}
.project_info span{
    color: #C9C9C9;
}
.projects_cols{
    display: flex;
    justify-content: space-between;
}
.projects_col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.projects_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.projects_behance {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.about_service_button {
    display: flex;
    justify-content: space-between;
}
.about_service_link {
    text-transform: uppercase;
    color: #C9C9C9;
}
.service_description {
    display: flex;
    justify-content: space-between;
}
.service {
    display: flex;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.service_price {
    color: #C9C9C9;
}
.hourly_payment {
    color: #C9C9C9;
}
footer {
    background-color: #000000;
    width: 100%;
}
.footer {
    margin: auto;
    
}
.footer_title{
    margin: 0;
}
.footer_cols{
    display: flex;
    justify-content: space-between;
}
.footer_col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.happy{
    text-transform: uppercase;
    color: #C9C9C9; 
}
.email_me {
    margin: auto;
    background: #434343;
    border-radius: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Plain';
    font-style: normal;
    text-transform: uppercase;
    font-weight: 600;
}
.email_me_move{
    background: #434343;
    border-radius: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Plain';
    font-style: normal;
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
}
.footer_links{
    display: flex;
    justify-content: space-between;
}
.footer_social {
    display: flex;
    justify-content: space-between;
}
.footer_copyright {
    display: flex;
    justify-content: space-between;
}
.footer_social span {
    text-transform: uppercase;
}
.footer_copyright span {
    text-transform: uppercase;
}
